/*
Selector {
    Property: value;
}
*/

* {
    text-align: right;
}


body {
    background-image: url(architecture-buildings-chicago-1622833.jpg);
    background-size: cover;
}

h2, p {
    color: #361356;
    text-align: center;
    border: 5px dashed #9277AC;
    cursor: pointer;
}

p {
    color: #512C73;
}

li {
    list-style: none;
    display: inline-block;
}

.la {
    color: #000;
}

.la:first-child {
    color: #0F0;
}

#one {
    background-color: rgba(200,200,250,0.5);
}

div p {
    text-align: left;
}

div > div {
    background-color: silver;
}

h2 + p:hover {
    color: rgba(255,0,0,0.7);
}